header
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
header form
{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
header h1
{
    margin-right: auto;
    margin-left: 100px;
}

@media all and (min-width: 450px){
    header {
        flex-direction: row;
    }

    header form {
        margin-right: 100px;
        flex-direction: row;
    }
}