.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  justify-content: center;
  width: 30%;
}

.LPimg {
  width: 100%;
  height: auto;
  justify-self: center;
}

.infoContainer {
  width: 60%;
}

@media all and () {
  .LandingPage {
    
  }
}