.petHolder
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

ol
{
    margin:auto;
    width: 256px;
    text-align: left;
}

.petHolder .cats .cat button img {
    width: 85%;
}

.petHolder .dogs .dog button img {
    width: 85%;
}

.dogs, .cats {
}

.dog, .cat
{
    text-align: center;
    margin-top:5px;
    object-fit: cover;
}

@media all and (max-width: 450px){
    .dog, .cat {
        visibility: hidden;
        display: none;
    }

    .dog:first-of-type, .cat:first-of-type {
        visibility: visible;
        display: initial;
    }
}

@media all and (min-width: 450px) {
    .petHolder {
        flex-direction: row;
        overflow: hidden;
        height: 1500px;
    }

    .petHolder .cats .cat button img {
        width: 400px;
    }
    
    .petHolder .dogs .dog button img {
        width: 400px;
    }

    .dogs, .cats {
        width: auto;
    }
}